src/Microsoft.DotNet.Wpf/src/ReachFramework/Resources/schemas/Validation/__OPC_DigSig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://schemas.openxmlformats.org/package/2006/digital-signature" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pds="http://schemas.openxmlformats.org/package/2006/digital-signature" targetNamespace="http://schemas.openxmlformats.org/package/2006/digital-signature" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">

    <!-- Individual date and time patterns
    For better readability, each pattern using numbers is also described in a comment using
    one of the following pattern designators.

    The actual patterns are generated by replacement by the schema publication process.
    -->
    <!--DEFINE [_y]         "([0-9][0-9][0-9][0-9])" -->
    <!--DEFINE [_mo]        "((0[1-9])|(1(0|1|2)))" -->
    <!--DEFINE [_d]         "((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1)))" -->
    <!--DEFINE [_h]         "((0[0-9])|(1[0-9])|(2(0|1|2|3)))" -->
    <!--DEFINE [_ms]        "((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))" -->
    <!--DEFINE [_mss]       "(((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))\.[0-9])" -->
    <!--DEFINE [_TZD]       "(((\+|-)((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])))|Z)" -->

    <xsd:element name="SignatureTime" type="CT_SignatureTime">
        <xsd:annotation>
            <xsd:appinfo>SignatureTime</xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RelationshipReference" type="pds:CT_RelationshipReference">
        <xsd:annotation>
            <xsd:appinfo>RelationshipReference</xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RelationshipsGroupReference" type="pds:CT_RelationshipsGroupReference">
        <xsd:annotation>
            <xsd:appinfo>RelationshipsGroupReference</xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CT_SignatureTime">
        <xsd:annotation>
            <xsd:appinfo>CT_SignatureTime</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Format">
                <xsd:annotation>
                    <xsd:appinfo>Format</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(YYYY)|(YYYY-MM)|(YYYY-MM-DD)|(YYYY-MM-DDThh:mmTZD)|(YYYY-MM-DDThh:mm:ssTZD)|(YYYY-MM-DDThh:mm:ss.sTZD)" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Value">
                <xsd:annotation>
                    <xsd:appinfo>Value</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
<!--
                        <xsd:pattern value="([_y])|\
                                            ([_y]-[_mo])|\
                                            ([_y]-[_mo]-[_d])|\
                                            ([_y]-[_mo]-[_d]T[_h]:[_ms][_TZD])|\
                                            ([_y]-[_mo]-[_d]T[_h]:[_ms]:[_ms][_TZD])|\
                                            ([_y]-[_mo]-[_d]T[_h]:[_ms]:[_mss][_TZD])"/>
-->
                        <xsd:pattern value="(([0-9][0-9][0-9][0-9]))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2))))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1))))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1)))T((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))(((\+|-)((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])))|Z))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1)))T((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))(((\+|-)((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])))|Z))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1)))T((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])):(((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))\.[0-9])(((\+|-)((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])))|Z))" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CT_RelationshipReference">
        <xsd:annotation>
            <xsd:appinfo>CT_RelationshipReference</xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="SourceId" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:appinfo>SourceId</xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="CT_RelationshipsGroupReference">
        <xsd:annotation>
            <xsd:appinfo>CT_RelationshipsGroupReference</xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="SourceType" type="xsd:anyURI" use="required">
                    <xsd:annotation>
                        <xsd:appinfo>SourceType</xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
